<div id="modal" class="rounded-3 position-fixed p-5">
    <a href="#" class="modal-close btn btn-dark">&times;</a>
    <div class="content mt-5">
        <p class="fs-1 text-center">
            <strong>Vous êtes sur le point de supprimer deffinitivement le trick !<br>
                Voulez-vous vraiment supprimer ce Trick ? </strong>
        </p>
        <div class="d-flex justify-content-around mt-5">
            <a href="" class="btn btn-danger">Supprimer</a>
            <a href="" class="btn btn-success">Annuler</a>
        </div>
    </div>
</div>