{% for trick in tricks %}
    <div class="trick-card-container m-4">
        <div class="card trick-card" style="width: 18rem;">
            <img src="images/uploads/tricks/{{ trick.pictures|first.fileName }}.jpg" class="card-img-top"
                 alt="{{ trick.pictures|first.alt }}">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{ trick.name }}</h5>
                    {% if app.user %}
                        <div>
                            <i class="bi bi-pen mx-3"></i>
                            <i class="bi bi-trash mx-3"></i>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}