 {% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="{{ asset('javascript/load-more-trick.js') }}"></script>
        <script src="{{ asset('javascript/alert.js') }}"></script>
    {% endblock %}

{% block body %}
    <div id="home">
        <header>
            <div class="d-flex justify-content-center align-items-center position-relative">
                <h1>SnowTricks</h1>
                <a href="#tricks-presentation" class="position-absolute arrow-down">
                    <i class="bi bi-arrow-down-circle-fill fs-1 text-dark"></i>
                </a>
            </div>
        </header>

        <section class="position-relative">
            <div class="p-5 d-flex justify-content-center flex-wrap" id="tricks-presentation"
                 data-all-tricks="{{ totalTricks }}">
                {% include 'home/_trick_cards.html.twig' %}
            </div>

            <div class="d-flex justify-content-center mb-5">
                <button type="button" id="load-more" class="btn btn-success">
                    Load More</button>
                <p class="hidden" id="plus-de-trick">No more new tricks</p>
            </div>

            <div class="position-relative">
                <a href="#top" class="position-absolute arrow-up hidden">
                    <i class="bi bi-arrow-up-circle-fill fs-1 text-dark"></i>
                </a>
            </div>
        </section>

    </div>

{% endblock %}
