{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="styles/home.css">
    {% endblock %}

{% block body %}

    <header>
        <div class="d-flex justify-content-center align-items-center">
            <h1>SnowTrick</h1>
        </div>
    </header>

    <section class="p-5 d-flex justify-content-center flex-wrap">

        {% for trick in tricks %}
            <div class="card m-4 trick-card" style="width: 18rem;">
                <img src="images/uploads/{{ trick.pictures|first.fileName }}.jpg" class="card-img-top"
                     alt="{{ trick.pictures|first.alt }}">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{ trick.name }}</h5>
                        <div>
                            <i class="bi bi-pen mx-3"></i>
                            <i class="bi bi-trash mx-3"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>

{% endblock %}
