{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('styles/registration.css') }}">
     <link rel="stylesheet" href="{{ asset('styles/form-responsive.css') }}">
 {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('javascript/show-picture.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                loadImg("img", "registration_media")
            });
        </script>
    {% endblock %}

{% block body %}
    <h1 class="text-center my-5">Inscription</h1>
    <div class="d-flex justify-content-center">
        <img src="img.png" alt="">
    </div>
    <div class="mx-auto trick-form-responsive">
        {{ form(form) }}
    </div>
{% endblock %}
