{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <h1 class="text-center my-5">Inscription</h1>
    <div class="mx-auto" style="width: 30%">
        {{ form(form) }}
    </div>
{% endblock %}
