{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('styles/form-responsive.css') }}">
 {% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <div class="min-height-100-vh d-flex align-items-center">
        <div class="w-100">
            <h1 class="text-center mb-5">Forgot Password</h1>
            <div class="mx-auto trick-form-responsive">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}