#home header {
    height: calc(100vh - 56px);
    background-image: url("../images/uploads/cover/cover-picture.jpg");
    background-position: 50% 25%;
    background-size: cover;
    position: relative;
}

#home header div {
    width: 100%;
    height: 100%;
}

#home .trick-card img {
    object-fit: cover;
    max-width: 18rem;
    height: 10rem;
}

#home a.arrow-up,
#home a.arrow-down {
    bottom: 3rem;
    right: 3rem;
    transition: .4s ease-in-out;
}

#home a.arrow-up:hover,
#home a.arrow-down:hover {
    transform: scale(1.2);
}

#home .hidden {
    display: none;
}

#home #modal {
    visibility: hidden;
    opacity: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    width: 50vw;
    height: 50vh;
    backdrop-filter: blur(1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

#home #modal .modal-close {
    position: absolute;
    right: 5rem;
}

#home #modal .content{

}

#home #modal:target {
   visibility: visible;
    opacity: 1;
}



