header {
    height: calc(100vh - 56px);
    background-image: url("../images/uploads/cover/cover-picture.jpg");
    background-position: 50% 25%;
    background-size: cover;
    position: relative;
}

header div {
    width: 100%;
    height: 100%;
}

.trick-card img {
    object-fit: cover;
    max-width: 18rem;
    height: 10rem;
}

a.arrow-up,
a.arrow-down {
    bottom: 3rem;
    right: 3rem;
    transition: .4s ease-in-out;
}

a.arrow-up:hover,
a.arrow-down:hover {
    transform: scale(1.2);
}

.hidden {
   display: none;
}

