#trick-display .presentation-one-trick-container {
    width: 80%;
}

#trick-display .presentation-one-trick {
    height: 500px;
}

#trick-display .presentation-one-trick img.image-presentation {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#trick-display .trick-card img {
    object-fit: cover;
    max-width: 18rem;
    height: 10rem;
}

#trick-display .trick-card iframe {
    object-fit: cover;
    max-width: 18rem;
    height: 10rem;
}

#trick-display .carousel-trick::-webkit-scrollbar {
    height: 10px;
}

#trick-display .carousel-trick::-webkit-scrollbar-thumb,
#trick-display .carousel-trick::-webkit-scrollbar-track {
    border-radius: 100px;
}

#trick-display .carousel-trick::-webkit-scrollbar-thumb {
    background: #424750;
}

#trick-display .carousel-trick::-webkit-scrollbar-track {
    background:#E2E3E5;
}

#trick-display img.image-profile{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
#trick-display .hidden {
    display: none;
}
