.presentation-one-trick-container {
    width: 80%;
}

.presentation-one-trick {
    height: 500px;
}

.presentation-one-trick-container img.image-presentation {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trick-card img {
    object-fit: cover;
    max-width: 18rem;
    height: 10rem;
}

.trick-card iframe {
    object-fit: cover;
    max-width: 18rem;
    height: 10rem;
}

