{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('styles/form-responsive.css') }}">
 {% endblock %}
{% block body %}
    {% if error %}
        <div class="d-flex alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="text-center my-5">Connection</h1>
    <div class="mx-auto trick-form-responsive">

        <form action="{{ path('app_connection') }}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="_username" class="form-control" required="required">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="_password" required="required" class="form-control">
            </div>
            <div class="mb-3">
                <a href="{{ path('app_forget_password') }}">Forgot Password ?</a>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn-primary btn mt-5">Login</button>
            </div>
        </form>

    </div>
{% endblock %}
