{% extends 'base.html.twig' %}

{% block body %}
    <div style="min-height: calc(100vh - 128px);"
         class="d-flex flex-column align-items-center justify-content-center w-100">
        <h1 class="text-center mt-5 mb-4">Page not found</h1>

        <div class="d-flex justify-content-center">
            <p class="text-center">
                The requested page does not exist or has been deleted.<br/>
                Check the URL or <a href="{{ path('app_home') }}">return to home</a>.
            </p>
        </div>
    </div>
{% endblock %}