{% extends 'base.html.twig' %}

{% block body %}
    <div style="min-height: calc(100vh - 128px);"
         class="d-flex flex-column align-items-center justify-content-center w-100">
        <h1 class="text-center mt-5 mb-4">Permissions error</h1>

        <div class="d-flex justify-content-center">
            <p class="text-center">
                You do not have rights to access this resource.<br/>
                <a href="{{ path('app_home') }}">Return to home</a>.
            </p>
        </div>
    </div>
{% endblock %}